/*---- настройки отступов для всей страницы ----*/
* {
  margin: 0;
  padding: 0;
}

/*---- фон ----*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #b6f865;
  background-color: #1e1e1e;
  background-image: url('./pictures/background-line.png');
  background-size: 100%; /* размер фоновой картинки */
  background-repeat: repeat-y;
  background-position: 0px 5px; /* отступ слева и сверху для фоновой картинки */
}

/*---- кнопки ----*/
button {
  background-color: transparent; /* прозрачный фон */
  border: 3px solid #b6f865; /* рамка */
  border-radius: 25px; /* скругление рамки */
  box-shadow: 0px 0px 6px 0px #b6f865; /* свечение */
  padding: 30px; /* отступ внутри */
  font-size: 30px; /* размер текста */
  color: #b6f865; /* цвет текста */
  text-align: center; /* положение текста */
  cursor: pointer; /* смена курсора при наведении */
}

button:hover {
  box-shadow: 0px 0px 20px 0px #b6f865; /* свечение */
}

/*---- текст ----*/
h1 {
  font-size: 30px; /* размер текста */
  text-align: center; /* положение текста */
  color: #1e1e1e;
}

/*---- кнопка обновления ----*/
.update-button {
  width: 140px;
  height: 100px;
  margin-top: 50px;
  margin-right: 20px;
  float: right; /* прижать вправо */
  background-image: url('./pictures/update.png'); /* картинка на фон */
  background-position: center; /* отцентрировать фон */
  background-repeat: no-repeat; /* не повторять картинку фона для заполнения всего объема кнопки */
}

/*---- кнопки перехода по страницам ----*/
.to-another-page {
  width: 280px;
  height: 100px;
  margin-top: 50px;
  margin-right: 65px;
  float: right; /* прижать вправо */
}

.clearer {
  /* чтобы margin-top в следующем компоненте работал корректно после float: right; */
  clear: both;
}

/*---- блок со строками валют в таблице ----*/
.table-strings {
  margin-top: 100px;
  margin-left: 17%;
  margin-bottom: 250px;
  display: grid; /* задает сетку */
  grid-template-columns: 320px 220px 320px 180px; /* задает количество и ширину столбцов */
}

.value-table {
  width: 300px;
  height: 71px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  background: #afafaf;
  padding-top: 20px;
  font-size: 35px;
}

.icon-table {
  width: 180px;
  height: 81px;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 25px;
  background: #d9d9d9;
  padding-top: 10px;
  font-size: 50px;
  color: #68bc00;
}

/*---- блок с конвертером ----*/
.converter-strings {
  height: 300px;
  margin-top: 10%;
  margin-left: 8%;
}

/*---- поле цены ----*/
.value-converter {
  width: 360px;
  height: 120px;
  padding-top: 35px;
  margin-right: 15px;
  margin-left: 15px;
  border-radius: 25px;
  background: #afafaf;
  font-size: 60px;
  display: inline-block;
}

/*---- поле валюты ----*/
.icon-converter {
  width: 200px;
  height: 120px;
  padding-top: 35px;
  margin-right: 15px;
  border-radius: 25px;
  background: #d9d9d9;
  font-size: 60px;
  display: inline-block;
  color: #68bc00;
}

/*---- стрелки ----*/
.arrows {
  display: inline-block;
}

.arrow-1 {
  width: 80px;
  margin: 20px;
}

.arrow-1 div {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: rgba(122, 122, 122, 1);
}
.arrow-1 div::after {
  /* верхняя часть стрелки */
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: -8px;
  background-color: rgba(122, 122, 122, 1);
  transform: rotate(45deg);
}
.arrow-1 div::before {
  /* нижняя часть стрелки */
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: -8px;
  background-color: rgba(122, 122, 122, 1);
  transform: rotate(-45deg);
}

.arrow-2 {
  width: 80px;
  margin: 20px;
  margin-top: 80px;
}

.arrow-2 div {
  position: absolute;
  width: 90px;
  height: 10px;
  background-color: rgba(122, 122, 122, 1);
}
.arrow-2 div::after {
  /* нижняя часть стрелки */
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: 11px;
  right: 58px;
  background-color: rgba(122, 122, 122, 1);
  transform: rotate(45deg);
}
.arrow-2 div::before {
  /* верхняя часть стрелки */
  content: '';
  position: absolute;
  width: 40px;
  height: 10px;
  top: -11px;
  right: 58px;
  background-color: rgba(122, 122, 122, 1);
  transform: rotate(-45deg);
}

/*---- анимация загрузки ----*/
.loader {
  margin-top: 10%;
  margin-left: 45%;
  width: 150px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: radial-gradient(farthest-side, #a9ff3a 94%, #0000) top/15px 15px
      no-repeat,
    conic-gradient(#0000 30%, #b6ff55);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 15px), #000 0);
  mask: auto;
  animation: l13 1s infinite linear;
  position: absolute;
}
@keyframes l13 {
  100% {
    transform: rotate(1turn);
  }
}
